{% extends "partials/section.twig" %}

{% block section %}
<div class="col-lg-4 col-lg-offset-2">
    <p>The programming club meets on Thursdays from 3:00 - 5:00pm in GW-C112. Generally, our meetings consist of students trying to solve various problems from the Valladolid Archive.
    The goal of the club is to make people better programmers, problem solvers, and to also make UNB a strong competitor every year in the ACM programming contests.</p>
</div>
<div class="col-lg-4">
    <p>Being involved in the club will make you a better programmer and improve your analytical skills. You will become faster and more competent at reading problem descriptions,
    creating algorithms, and translating your ideas into code. Even if you feel you don't have time, you can come for homework help.</p>
</div>
{% endblock %}
