<section class="{{ background }}" id="{{ id }}">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>{{ section }}</h2>
            <hr class="{{ line }}">
        </div>
    </div>
    {% block section %}
    {% endblock %}
    </div>
</section>
