<!DOCTYPE html>
  {% set site_title = getSetting('site_name')%}
  {% set site_description = getSetting('site_description')%}

  {% include "templates/partials/head.html" %}

  <body id="page-top" class="index">
    <!-- Navigation -->
    {% include "templates/partials/nav.html" %}

    <!-- Header -->
    {% block content %}
    {% endblock %}

    {% include "templates/partials/footer.html" %}
    {% include "templates/partials/modals.html" %}
    {% include "templates/partials/js.html" %}
  </body>
</html>
