<!DOCTYPE html>

  {# Meta Information #}
  {% set title = "UNB Programming Club" %}
  {% set description = "The UNB Programming Club was first introduced in the 1990s. After having halted operation in 2009, the club is now back and better than ever!" %}
  {% set keywords = "unb, programming, club, coding, fredericton, new brunswick, database, java, python, golang, go" %}
  {% set author = "Jacob Smith" %}

  {% include "templates/partials/head.html" %}

  <body id="page-top" class="index">

    {% block content %}
    {% endblock %}

    {% include "templates/partials/footer.html" %}
    {% include "templates/partials/modals.html" %}
    {% include "templates/partials/js.html" %}
  </body>
</html>
