<section id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Project</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% for project in projects %}
            <div class="col-sm-4 portfolio-item">
                <a href="#modal-{{ project[1] }}" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/static/images/{{ project[3] }}" class="img-responsive">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
